*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.bg-blu{
    background-color: #0084FD;
}

.container{
    width: 90%;
    margin: 0 auto;
}

header{
    height: 80px;
    justify-content: space-between;
    padding: 1rem;
}

header div, header ul{
    background-color: red;
}

.struments div{
    width: 100%;
    margin: 2rem;
    background-color: red;
    height: 200px;
}







