/* Elemti generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

body{
    font-family: 'PT Sans', sans-serif;
}

.container{
    width: 100%;
    margin: 0 auto;
}

section{
    padding: 1rem 1rem;
}

.container>div{
    margin-top: 1rem;
    border-radius: 20px;
}

ul{
    list-style-type: none;
}

button{
    border-radius: 15px;
    padding: 0.4rem;
    border-style: none;
}

h3,h2,p{
    padding-bottom: 1rem;
}

/* Allineameto testi */
.center-align{
    text-align: center;
}

/* Colore sfondi */
.bg-blu{
    background-color: #0084FD;
}

.bg-lightblue{
    background-color: #B5DDFF;
}

.bg-violet{
    background-color:#9792E4;
}

.bg-white{
    background-color: white;
}

.bg-black{
    background-color:black;
}

/* Colore testi */

.color-blu{
    color:#0084FD;
}

.color-white{
    color: white;
}

.color-violet{
    color:#9792E4;
}

.color-gold{
    color:#FDC15F;
}

/* Header */
header{
    padding: 1rem;
}

header ul.after-768{
    display: none;
}

header a{
    color: white;
    text-decoration: none;
}

header .container{
    justify-content: space-between;
    align-items: center;
}

header li{
    padding: 0 0.5rem;
    margin: auto;
}

header i{
    font-size: 2rem;
}
/* Sezione strumenti */
.struments .column-big{
    padding: 1rem 1rem 0 2rem;
}
.column-big img{
    width: 200px;
    display: block;
    margin: auto;
    position: relative;
}
.column-big button{
    display: block;
    margin: 0.5rem 0;
}

.column-small{
    padding: 1rem;
}

.struments .column-small i{
    font-size: 5rem;
    display: block;
    padding-bottom: 1rem;
}



/* Sezione strategic */

.strategic img{
    width: 100%;
}

#arrow{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: auto;
}

#arrow>i{
    margin: auto;
}

.strategic div.bg-white{
    padding-bottom: 1rem;
}

/* Sezione testimonial */

.card-expert p{
    padding: 1rem;
}

.box-img{
    position: relative;
    padding: 1rem;
}

.box-img>img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
}

/*Sezione Benefit */
.benefit .card-benefit>div{
    margin-top: 1rem ;
    border-radius: 5px;
    padding: 1rem 1rem 3rem;
    position: relative;
}

.card-benefit button{
    position: absolute;
    bottom:1rem; left: 1rem;
    padding: 0.5rem 1rem;
}

.card-benefit>div>*:not(button){
    padding: 0.5rem;
}

.card-benefit span:first-child{
    font-size: 3rem;
}
/* Sezione About-us */

.column-img>div>i{
    position: absolute;
    top: 10px; right: 10px;
    font-size: 3rem;
}

.about-us .container>div>*{
    padding: 1rem;
}

/* Sezione Started */
.started span:last-child{
    display: block;
}
.started .container>*{
    padding: 1rem;
}
.started a{
    color: white;
}
/* Footer */
Footer p{
    padding: 1rem;
}

/* Media query 480 tablet */
@media screen and ( min-width:480px){
    .struments>.container{
        display: flex;
        flex-wrap: wrap;
        gap:1rem;
    }
    .struments>.container>div{
        margin-top: 0;
    }
    .struments .column-big{
        width: calc((100% / 3 - 0.5rem)* 2);
    }
    .struments .column-small{
        width: calc((100% / 3 - 1rem));
    }
    .column-big img{
        display: inline;
    }
    .experts .card-expert{
        display: flex;
        gap: 1rem;
    }
    div.card-expert>div:last-child{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .benefit .card-benefit{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .benefit .card-benefit>div{
        width:calc(50% - 1rem)
    }
    .about-us .container{
        display: flex;
        justify-content: space-between;
    }
}

/* Media query deskyop 768 */
@media screen and ( min-width:768px){
    header ul.after-768{
        display: flex;
    }
    header ul.before-768{
        display:none;
    }
    .container{
        width: 70%;
    }
    .column-big{
        display: flex;
    }
    .strategic .container>div:first-child{
        position: relative;
        width:60%;
    }
    .strategic .container>div:last-child{
        width: 40%;
    }

    .strategic-left{
        position: absolute;
        bottom: 0.5rem;
    }

    .strategic div.bg-white{
        margin-top: 5rem;
    }
    .strategic img{
        width: 80%;
    }
    .strategic>.container{
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    .benefit .card-benefit>div{
        width:calc(100% / 3 - 1rem)
    }

}









