/* elemti generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.container{
    width: 90%;
    margin: 0 auto;
}

section{
    padding: 1rem 0;
}


/* Colore sfondi */
.bg-blu{
    background-color: #0084FD;
}

.bg-lightblue{
    background-color: #B5DDFF;
}

.bg-violet{
    background-color: violet;
}

.bg-white{
    background-color: white;
}

.bg-black{
    background-color:black;
}

/* Colori testi */

.color-blu{
    color:#0084FD;
}

.color-white{
    color: white;
}

.color-violet{
    color: violet;;
}

header{
    height: 80px;
    justify-content: space-between;
    padding: 1rem;
}

header div, header ul{
    background-color: red;
}

.struments>.container>div{
    margin-top: 1rem;
    border-radius: 5px;
}

.strategic>.container>div{
    margin-top: 1rem ;
    border-radius: 5px;
}

.experts>.container>div{
    margin-top: 1rem;
    border-radius: 5px;
}

.benefit .card-benefit>div{
    margin-top: 1rem ;
    border-radius: 5px;
}

/* Media query 480 tablet */
@media screen and ( min-width:480px){
    .struments>.container{
        display: flex;
        flex-wrap: wrap;
        gap:1rem;
    }
    .struments>.container>div{
        margin-top: 0;
    }
    .struments .column-big{
        width: calc((100% / 3 - 0.5rem)* 2);
    }
    .struments .column-small{
        width: calc((100% / 3 - 1rem));
    }
    .experts .card-expert{
        display: flex;
    }
    .benefit .card-benefit{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .benefit .card-benefit>div{
        width:calc(50% - 1rem)
    }
    .about-us .container{
        display: flex;
        justify-content: space-between;
    }

}









